name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y gcc make cmake

    - name: Build with Make
      run: make

    - name: Clean
      run: make clean

    - name: Build with CMake
      run: |
        mkdir build
        cd build
        cmake ..
        make
        ctest
